* {
    margin: 0;
    box-sizing: border-box;
}

.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    overflow: auto;
    background-image: linear-gradient(-145deg, #ffb5a7 50%, #fec89a 50%);
}
.welcome-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(145deg, #f7a9a8 50%, #7d82b8 50%);
    /* background-color: #51058f; */
}
.logo-content {
    /* background-color: #ffb5a7; */
    height: 100vh;
}

.registration-login-content {
    /* background-color: #fec89a; */
    height: 100vh;
}
.background-1 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(72deg, #3bceac 50%, #0ead69 50%);
}

.background-nav {
    background-color: #fcd5ce;
}

.nav-dropdown {
    position: absolute;
    top: 15px;
    right: 50px;
    display: flex;
}
.profile-pic-img {
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    top: -5px;
    object-fit: cover;
}
#username-nav {
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}

.profile-container {
    border-radius: 35px;
    border: 2px solid black;
    height: 25rem;
    width: 30rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    object-fit: cover;
    /* background-color: whitesmoke; */
}
a {
    cursor: pointer;
}
.uploader-container {
    position: absolute;
    top: 9%;
    left: 20%;
    height: 15rem;
    width: 5rem;
    border: 2px solid black;
}

.close-uploader {
    font-weight: 700;
    cursor: pointer;
}
.upload-btn-wrapper input[type="file"] {
    font-size: 22px;
    position: absolute;
    left: 17.75rem;
    top: 85px;
    opacity: 0;
    margin-left: 10px;
}
#link-light {
    color: white;
    text-decoration: none;
}
#link-find {
    color: black;
}
#link-find-white {
    color: white;
    text-decoration: none;
}

.friends-container {
    border-radius: 35px;
    border: 2px solid #51058f;
    height: 20rem;
}

.friends-content {
    width: 13rem;
    height: 12rem;
    flex-direction: column;
}

.chat-message-container {
    height: 30rem;
    overflow-y: auto;
    width: 80%;
    border: 1px solid black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 1s ease-in;
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
    width: 50%;
}
.chat-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.nav-logo {
    position: relative;
    animation: breath 1s linear infinite;
}
@keyframes breath {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.log-anim {
    position: relative;
    animation: fadeIn 1s ease-in;
}

.other-profile-container {
    border-radius: 35px;
    border: 2px solid #51058f;
    height: 8rem;
    width: 50%;
}

.other-profile-container:hover {
    opacity: 0.75;
}
.background {
    background: linear-gradient(-45deg, #a353ff, #973cff, #8921ff, #8921ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.bio-text-area {
    width: 25rem;
}
.text-area-edit {
    width: 25rem;
    height: 5rem;
    border-radius: 10px;
    padding: 3px;
}
.strike {
    text-decoration: line-through;
}
.news-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.light-theme {
    background-color: #fff;
    color: #444444;
}
.dark-theme {
    background-color: #1f1b24;
    color: #f8f8f8;
}
