* {
    margin: 0;
    box-sizing: border-box;
}
body {
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    font-family: "Source Sans Pro";
    background: linear-gradient(-45deg, #0598ce, #176a88, #23a6d5, #2ab4ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}
.registration-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-registration-login {
    display: contents;
}
.register-btn {
    margin-top: 1rem;
}
.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.error {
    color: red;
}

.main-container {
    display: flex;
}
a {
    text-decoration: none;
}
input {
    background: transparent;
    border: none;
    height: 25px;
    border-bottom: 1px solid black;
    font-weight: 600;
}
input:focus {
    outline: 0;
}
.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-container {
    display: contents;
}

/* PROFILEPIC  */
.img-profilePic {
    height: 25rem;
    width: 70rem;
    display: flex;
    justify-content: flex-end;
}
.profile-picture-img {
    height: 75px;
    object-fit: contain;
    border-radius: 50%;
    width: 75px;
    margin-top: 0.8rem;
    border: 2px solid black;
    background-color: whitesmoke;
}

/* UPLOADER STYLING */
.uploader-container {
    position: absolute;
    top: 25%;
    left: 30%;
    border: 2px solid black;
    width: 30rem;
    height: 12rem;
    background-color: aliceblue;
}
.uploader-content {
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close-span {
    position: absolute;
    left: 97%;
    font-weight: 600;
}
.uploader-btn {
    margin-top: 15px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 20px;
    opacity: 0;
}

.logo-logout {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.logo-header {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* PROFILE STYLING */
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    background-color: whitesmoke;
}
.profile-container {
    position: absolute;
    top: 16%;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.img-profile {
    margin-left: 1rem;
}
.info-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: 3rem;
}
.edit-btn {
    display: contents;
    background-color: transparent;
    border: none;
}

/* NAVBAR */
.navbar-container {
    position: absolute;
    top: 6%;
    left: 50%;
}

ul.breadcrumb {
    display: flex;
    list-style: none;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "|\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
    color: black;
}

ul.breadcrumb li a:hover {
    color: #01447e;
}

/* SEARCH FRIENDS */
.findPeople-container {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 95%;
}
.result-findPeople {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 50%;
    border: 2px solid violet;
    margin-top: 1rem;
}

/* FRIEND COMPONENT */
.friends-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 5%;
}
