* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: ghostwhite;
    font-family: "Be Vietnam";
}
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}
.registration-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-registration-login {
    display: contents;
}
.register-btn {
    margin-top: 1rem;
}
.temp-logo {
    width: 40%;
}
.error {
    color: red;
}
.small {
    width: 15%;
}
